{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class ="row">
        <div class="col-md-12 jumbotron text-center">
            <h1>Welcome to Movie Visualizations and Machine Learning</h1>
            <p>Let's talk about movies! See what we can do with the data set!</p>
        </div>
    </div>
    <div class="box">
        <div class="container">
            <div class="row" style="padding-bottom: 30px;">
                <!-- <div class="col">
                    <a href="/maps"><img class="thumb" src="{{ url_for('static', filename='img/maps.png') }}"></a>
                </div> -->
                <div class="col">
                    <a href="/scatter"><img class="home_thumb" src="{{ url_for('static', filename='img/eliot_thumb_test.jpg') }}"></a>
                </div>
                <div class="col">
                    <a href="/mlc"><img class="home_thumb" src="{{ url_for('static', filename='img/eliot_thumb.jpg') }}"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}